.subheading {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
#what-would-you-say-you-do-here {
  position: relative;
  width: 135px;
  display: inline-block;
  margin-right: 7px;
  span.prefix {
    position: absolute;
    opacity: 0;
    right: 0;
    text-align: right;
    transition: opacity 0.3s ease;
  }
  span.active {
    opacity: 1;
  }
  span.postfix {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  #what-would-you-say-you-do-here {
    width: 95px;
  }
}
